extend layout

block content

  section#gigs.container
    .gig
      each jobGig in gigs
        ul
          li= jobGig.error
          li= jobGig.title
          li= jobGig.technologies
          li= jobGig.budget
          li= jobGig.description
          li.right= jobGig.contact_email
          li.special 
            a.btn.btn-reverse(href=`mailto:`+ jobGig.contact_email) Apply Now


